body {
  background: url("./img/ocre.jpg");
}
.bodyContent {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(119, 25, 25);
  padding-top: 0;
}
.Content-calculate {
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 83, 83);
  width: max(30%, 420px);
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-image: url("../css/img/lionBis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  text-align: center;
  margin-top: 10px;
  height: 40px;
  width: 80%;
}
.contentBtn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* grid-template-rows: 1fr 1fr 1fr 2fr; */
  grid-auto-rows: minmax(60px, auto);
  grid-auto-columns: minmax(100px, auto);
  margin: 25px;
  height: auto;
  width: auto;
}

.btn_equal {
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.contentBtn button {
  border-radius: 5px;
  background-color: rgb(109, 107, 107);
  width: 70px;
}
