.Content-calculate {
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 83, 83);
  width: 200px;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 10px;
}
.contentBtn {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  height: auto;
  width: 140px;
}

.contentBtn button {
  margin: 5px;
  min-width: 15px !important;
}
