body {
  background: url("./img/ocre.jpg");
}
.bodyContent {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(119, 25, 25);
}
.Content-calculate {
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 83, 83);
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-image: url("../css/img/lionBis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  margin-top: 10px;
  height: 40px;
  width: 80%;
}
.contentBtn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  margin: 10px;
  height: auto;
  width: auto;
}

.contentBtn button {
  border-radius: 5px;
}
